
server{
	listen  8000;
	listen  8001;
	srver_name localhost;
	host	127.0.0.1;
	root	./; /* da qui vengono serviti i file statici*/
	index	html/index.html;
	location / {
		allow_methods GET;
		autoindex off;
	}
	location /html {
		allow_methods GET;
		autoindex on;
	}
	location /upload {
		root upload/;
		allow_methods POST GET;
		autoindex on;
	}
	location /cgi-bin {
		root cgi/;
		allow_methods GET POST DELETE;
		cgi_path /usr/bin/python3;
		cgi_ext .py;
	}
	location /downloads {
		root html/;
		autoindex on;
		allow_methods GET;
	}
	location /red {
		return /downloads;
	}
}
